<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    
</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				知识点：
			</div>
			<div class="panel-body">
				<p></p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				效果：
			</div>
			<div class="panel-body">
				<div ng-controller="myController">					
					
					<input type="text" ng-model="word"/>
					{{word}}
					
					<hr />
					
					<div my-hello message="{{word}}" name="{{name}}"></div>
					
				</div>
				
			</div>
		</div>
	</div >
	<!--ng-include-->

	
</body>

<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var app=angular.module("myapp",[]);
	
	app.directive("myHello",function(){
		return {
			restrict:'EA',
			scope:{
				word:'@message',
				name:'@name'
			},//隔离作用域，使指令拥有独立的作用域，不再得到所在控制器的作用域
			replace:true,
			template:'<div><input type="text" ng-model="word"/>{{word}}--{{name}}</div>',
		}
	})
	
	
//	单向的数据绑定->@
	
	
	
	
	app.controller("myController",function($scope){
		$scope.word='hello world';
		
		$scope.name="allen"
	})
	

	
	
</script>
</html>