
<div class="card demo-card-header-pic" ng-repeat="movie in movies">
	<div valign="bottom" class="card-header color-white no-border no-padding">
	  <img class='card-cover' ng-src="{{movie.images.large}}" alt="">
	</div>
	<div class="card-content">
	  <div class="card-content-inner">
	    <p class="color-gray">评分：<span ng-bind="movie.rating.average"></span>&nbsp;&nbsp;
	    	类型: <span ng-repeat="x in movie.genres">{{x}}&nbsp;&nbsp;</span>
	    </p>
	    <p ng-bind="movie.title"></p>
	  </div>
	</div>
</div>