
/*commond*/



/*header*/
header .box{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
 .img img{
	width: 200px;
}
.img{
	width: 50%;
}
.login-box{
	width: 50%;
	position: relative;
	
}
.user-box{
	position: absolute;
	right: 0;
	top: 0;
}
/*登录页面*/
.login-view,.register-view{
	padding: 0;
}
